#droppable-zone, .copy {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    border: 1px solid #141f38;
    box-shadow: inset 0 0 30px #34343482;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin: 0.6rem 0;
    color: #7fa8ff;
    font-size: 1.2rem;
  }
  
  .copy {
    cursor: pointer;
  }
  
  #droppable-zone:hover, .copy:hover {
    border: 1px solid #7fa8ff;
  }
  
  #droppable-zone-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    z-index: 20;
    color: #7fa8ff;
  }
  
  #droppable-zone-text:hover {
    color:#7fa8ff !important;
  }
  
  #droppable-zone-wrapper {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #333;
    display: table;
    height: 100%;
    width: 100%;
  }
  
  .droppable-file {
    -webkit-text-size-adjust: 100%;
    font-family: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.375rem 0.5rem;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  
  .option-block {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #333;
    padding: 0.5rem;
  }
  
  .hmac {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #333;
  }
  
  .submit {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #7fa8ff;
    margin: 0.6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .output {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #7fa8ff;
    font-size: 1.2 rem;
  }
  
  #output {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    margin: 0.6rem 0;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 1px solid #141f38;
    border-radius: 10px;
    background: none;
    font-size: 1.2 rem;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(121, 121, 121);
  }
  
  .copy {
    margin: 0px;
  }
  
  #remember-input {
    -webkit-text-size-adjust: 100%;
    font-family: inherit;
    margin: 0;
    overflow: visible;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 0;
    margin-right: 0.5rem;
  }
  
  .hmac, .nonedisplay, .option-block {
    display: none;
  }
  
  .submit {
    height: fit-content;
  }
  
  textarea {
    resize: none;
    color:#7fa8ff;
  }
  
  textarea#output, textarea::placeholder, textarea, textarea:placeholder-shown {
    color:#7fa8ff;
    font-size: 1.2rem;
  }
  
  
  textarea {
    box-shadow: inset 0 0 10px #34343482;
  }
  
  textarea:focus-visible, textarea:hover {
    outline: none;
    box-shadow:  0 0 30px #34343482;
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
    vertical-align: middle !important;
  }
  ::-moz-placeholder {
    text-align: center;
    vertical-align: middle !important;
  }
  :-ms-input-placeholder {
    text-align: center;
    vertical-align: middle !important;
  }
  
  textarea#value {
    vertical-align: middle !important;
  }