@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap');

* {
  text-rendering: geometricPrecision;
  font-kerning: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: 'Jura', sans-serif;
  margin: auto;
  max-width: 996px;
  width: auto;
  background: linear-gradient(90deg, rgb(69, 79, 81) 0%, rgb(108, 108, 108) 100%);
  color: white;
  font-size: 1.2rem;
  letter-spacing: calc(1.2rem*0.12);
  word-spacing: calc(1.2rem*0.16);
  padding: 4px;

}

h1 {
  font-size: 1.8rem;
  letter-spacing: calc(1.8rem*0.12);
  word-spacing: calc(1.8rem*0.16);
  margin-bottom: 2.4rem;
  font-family: 'Grandstander';
}

h2 {
  font-size: 1.5rem;
  letter-spacing: calc(1.5rem*0.12);
  word-spacing: calc(1.5rem*0.16);
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: 'Grandstander';
  
}

.rotate1 {
  transform: rotateX(1deg) rotateY(-1deg) rotateZ(-1deg);
}

.rotate2 {
  transform: rotateX(-2deg) rotateY(3deg) rotateZ(2deg);
}

.donations {
  position: absolute;
  right: 4px;
  top: 4px;
  width: auto;
  max-width: 15%;
  padding: 4px;
  border: 1px solid rgb(255, 183, 0);
  border-radius: 10px;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  overflow: hidden;
  font-family: "Grandstander";
  color:white;
  display: none;
}

.dollar {
  font-size: 1.6rem;
  display: inline;
}

.donations p {
  margin: 0;
}

.goldenrod {
  color: rgb(255, 183, 0);
}


.center{
  text-align: center;
}

.navbar {
  background-color: #28292c;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

ul {
list-style-type: none;
}

a {
  color: #141f38;
  text-decoration: none;
}
a:hover {
  color: #7fa8ff;
}

div.medium {
  width: auto;
  max-width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

@media only screen and (max-width: 996px) {
  div.medium, .medium > p, .medium > div{
    max-width: 100%;
    width: auto;
  }

  div.medium {
    margin: 0;
  }

  .donations {
  position: relative;
  width: calc(100%-8px);
  max-width: 100%;
  padding: 4px;
  margin: 4px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  font-family: "Grandstander";
} 
}

div.medium

div.medium p {
  text-align: left;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

button, input {
  background: none;
  border: none;
  font-family: inherit;
}

input {
  background: linear-gradient(to bottom, #e0e0e0 0%, #fff 100%);
}

#myInput {
  display: none;
}

span, button {
  display: inline;
}

.blue {
  color:#7fa8ff;
}

.center {
  text-align: center;
}

.middlecenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  height: 100vh;
}

.middlecenter h1 {
  font-size: 3rem;
}

.extralarge {
  font-size: 10rem !important;
}

.businesslink {
  font-weight: 600;
}